{{#partial "content"}}
<div class="container-fluid display">
    <h2> <a class="text-warning text-center" href="/Hero-form">Create Your Hero</a> <br><br> </h2>
    <h2 class="text-danger text-center">CURRENT HEROES</h2>
    <div class="container hero-item">
        {{#each Hero}}
        <div class="text-white">
            <p>Name: {{ name }} </p>
            <p>Age: {{ age }}</p>
            <p>Special power: {{ power }}</p>
            <p>Weakness: {{ weakness }}</p>
            <p>Id: {{ id }}</p>
            <button class="btn btn-danger" type="submit">
                <a href="new/{{id}}" class="btns">Learn More</a>
            </button>
            <button class="btn btn-warning" type="submit">
                <a href="/Squad">Add {{ name }} To Squad</a>
            </button>
        </div>
        {{/each}}

    </div>
</div>
{{/partial}}
{{> layout.hbs}}